

.home {
    text-align: center;
    padding: 20px;
    background-color: #9298b8;
  }
  
  .product-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
  }
  .h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
  }
  